html {
    background-color: #F6F7FF;
    font-family: trebuchet, geneva, sans-serif;
  }
body {
    margin: 0;
}

.logo{
    border: 5px solid white;
    border-radius: 100px;
    height: 60px;    
}

.main-nav {
    display: flex;
    background: #41228E;
    color: white;
    border-radius: 3px;
    padding: 1em;
    align-items: center;
    box-shadow: 4px 4px 4px 1px  rgba(0,0,0,0.3);
}

.main-nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
    align-items: center;
}

.main-nav li {
    margin-right: 1em;
}


.main-nav li a {
    color:#fff;
    text-decoration: none;
}

.main-nav li a:hover {    
    border-bottom: 0.3rem solid #00CA52;
}

.main-nav > form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.main-nav > label {
    font-size: 2rem;
    flex: 1;
    height: 2rem;
    border-radius: 1em;
}

.main-nav input {
    flex: 1;
    height: 2rem;
    border-radius: 1em;
}

.main-nav button {
    background: #00CA52;
    border: 0;
    border-radius: 1em;
    color: white;
    padding: 0 1em;
    margin-left: .3em;
    height: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .main-nav {
        flex-direction: column;
    }
    .main-nav ul {
        flex-direction: row;
        margin-bottom: 1em;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}

.headline {
    text-align: center;
    flex: 25%;
}

.btn_top{
    background: #00CA52;
    color: white;
    border: 0;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    border-left: 0.5rem solid #fff;
}

.btn_left{
    background: #00CA52;
    color: white;
    border: 0;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.btn_top:hover{
    background: #07a747;
}

.btn_left:hover{
    background: #07a747;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.card {
    flex: 20%;
    margin: 1rem;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    align-content: center;
    text-align: center;
} 


.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.card .text > button {
    background: #00CA52;
    color: white;
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 1em;
    cursor: pointer;
}

footer{
    background: #41228E;
    color: #fff;
    padding: 2em;
    box-shadow: 4px 4px 4px 5px  rgba(0,0,0,0.3);
}

footer > section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
}

footer > section > article {
    
    flex: 15%;
    margin: 1rem;
}

footer > section > article > ul {
    list-style-type: none;
}


.footer_cabecera {
    text-align: center;    
}

.botton_footer{
    background: #00CA52;
    border: 0;
    border-radius: 1em;
    color: white;
    padding: 0 1em;
    margin-left: .3em;
    height: 2rem;
    cursor: pointer;
}

.input_footer{
    height: 2rem;
    border-radius: 1em;
}

.flag{
    height: 20px;
    width: 30px;
}

.logo_footer{
    border: 5px solid white;
    border-radius: 100px;    
}

.site_map{
    align-content: flex-start;
}

.social_link{
    color: #fff;
}

.titulo_medio{
    text-align: center;
    font-size: 1.5rem;
}

.slider{
    position: relative;
}

.slider img{
    width: 100%;
    object-fit: cover;
    height: 29rem;
}

.first-txt {
    position: absolute;
    top: 17px;
    left: 20px;
    color: #fff;
}

.second-txt {
    position: absolute;
    top: 17px;
    left: 150px;
    color: #fff;
    font-size: 5rem;
}